$small: max-width 479px;
$landscape: max-width 550px;
$tablet: max-width 767px;
$medium: max-width 880px;
$large: max-width 1000px;

$yellow: #f8ea13;
$lightgray: #e6e6e6;
$medgray: #8b8b8b;
$darkgray: #909090;
$black: #333333;
$trueblack: #000000;
$white: #FFFFFF;


$raleway: 'Raleway', 'Arial', 'Helvetica', sans-serif;
$opensans: 'Open Sans', 'Arial', 'Helvetica', sans-serif;